# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

# Your Discord Bot token
DISCORD_TOKEN=A59lengthTokenHashTakenWhenSettingUpBotAppOnDeveloperPortal

# Client Secret
CLIENT_SECRET=kxbsDRU5UfAaiO7ar9GFMHSlmTwYaIYn
DISCORD_CLIENT_ID=123456789012345678
SERVER_ID=Your Discord Server Id
